body{
  color: #C28C57;
  font-family: 'Raleway', sans-serif;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gray{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
/*  background-color: #171717;*/
}
#wrapper{
  height: 700px;
  width: 100%;
}
#top{
  background-color: #FAC6BF;
  width: 100%;
  height: 175px;
  position: relative;
}
#top h1{
  width: 375px;
  text-align: center;

  border-color: #C28C57;
  border-style: solid;
  border-width: 4px;
  border-bottom: 0px;

  position: absolute;
  padding: 7px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  margin-bottom: -6px;
}
#bottom{
  background-color: #0A2531;
  height: 600px;
}
#bottom h1{
  font-family: 'Old Standard TT', serif;
  font-variant: small-caps;
  font-size: 1.7em;
  width: 375px;
  text-align: center;

  border-color: #C28C57;
  border-style: solid;
  border-width: 4px;
  border-top: 0px;

  position: absolute;
  padding: 7px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/*#contact{
  position: relative;
  bottom: -20;
  left: 0;
  right: 0;
}*/
#contact h2{
display: inline;
padding: 10px;
}
.work{
  margin: 0 auto;
  text-align: center;
}
.show{
  display: inline-block;
}
.hide{
  display: none;
}
#previous{
  margin-right: 20px;
}
a{
  text-align: center;
  color: inherit;
  display: inline-block;
}
#controls{
  width: 50px;
  margin: 0 auto;
  padding-bottom: 20px;
}
a:link{
  color: inherit;
}
a:hover{
  color: inherit;
}
img{
  margin: 0 auto;
  height: 300px;
  width: 475px;
  border-radius: 2%;
}
.inline{
  padding-top: 35px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
.inline h2{
  display: inline;
  /*font-weight: 900;*/
}

#contact h6{
  padding-top: 15px;
}
.about{
/*  font-family: 'Old Standard TT', serif;*/
  font-variant: small-caps;
}
.inner{
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
}
.tagShow{
  display: inline;
}
.tagHide{
  display: none;
}
.showImg{
  display: inline;
}
.hideImg{
  display: none;
}
.tag{
  height: 25px;
  width: 200px;
}
#photo{
  border-radius: 6%;
  width: 125px;
  height: 125px;
}
.space{
  padding-right: 10px;
  padding-left: 10px;
}
li{
  list-style: none;
}
.smallCaps{
  font-variant: small-caps;
}
.inline p{
  display: inline;
}
.left{
  float: left;
}
.right{
  float: right;
}
.wrapper{
  width: 65%;
  margin: 0 auto;
}
.row{
  margin-bottom: 100px;
}
.imgL{
  float: left;
}
.imgR{
  float: right;
}
.wrapper .fa{
  padding-right: 5px;
  padding-left: 5px;
  font-size: 200%;
}
embed{
  padding-bottom: 40px;
}