body{
    margin: 0 auto;
    text-align: center;
    background-color: white;
    font-family: 'Poiret One', cursive;
}
.circles {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.circles h2 {
    margin-bottom: 20px;
}
.circle {
    cursor: pointer;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.circles div {
    display: inline-block;
    margin: 25px;
    text-align: center;
}

#sudokucircle {
    background-color: #AFDFDD;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}
#sudokucircle img {
    height: 90px;
    width: 90px;
    margin-top: 25px;
}

#quickcircle {
    background-color: #DA5530;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}
#quickcircle img {
    margin-top: 30px;
    height: 80px;
    width: 70px;
}

#myhivecircle {
    background-color: #7BB089;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}
#myhivecircle img {
    margin-top: 25px;
    height: 100px;
    width: 100px;
}

#mesacircle {
    background-color: #DA5530;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}
#mesacircle img {
    margin-top: 25px;
    margin-left: 5px;
    height: 100px;
    width: 100px;
}

#chasecircle {
    background-color: #AFDFDD;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}
#chasecircle img {
    margin-top: 25px;
    height: 90px;
    width: 90px;
}
#desk {
    height: 450px;
    border-radius: 50%;
    margin-top: 10px;
}
#contact a {
    display: inline-block;
    color: black;
    margin-top: -10px;
    margin-bottom: 5px;
}
.smallcaps {
    font-variant: small-caps;
}
#grandma {
    width: 180px;
}
#buffer {
    margin-top: 40px;
    height: 20px;
    width: 100%;
}
#one {
    margin-top: 20px;
    height: 100px;
    width: 100%;
    background-color: #AFDFDD;
}
#top {
  width: 100%;
  height: 30px;
  position: relative;
}
#top h1 {
  width: 375px;
  text-align: center;

  position: absolute;
  padding: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
.inline {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
  margin-top: -160px;
  margin-bottom: 20px;
}
.inline h2 {
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
}
.about {
    display: none;
}
.work {
    display: none;
    margin-bottom: -10px;
}
.hide {
    display: none;
}
.piece h1 {
    display: inline;
    color: black;
}
.descriptions{
    margin-bottom: 30px;
}
.piece h3 {
    margin-top: -5px;
}
.skills h3 {
    display: inline;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.space {
    height: 100px;
    width: 100%;
}
#buffersix {
    height: 200px;
}

.s-circles {
    cursor: pointer;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.s-circles h2 {
    margin-bottom: 20px;
}
.s-circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.s-circles div {
    display: inline-block;
    margin: 5px;
    text-align: center;
}

.s-sudokucircle {
    background-color: #AFDFDD;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
.s-sudokucircle img {
    height: 20px;
    width: 20px;
    margin-top: 6px;
}

.s-quickcircle {
    background-color: #DA5530;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
.s-quickcircle img {
    margin-top: 6px;
    height: 20px;
    width: 20px;
}

.s-myhivecircle {
    background-color: #7BB089;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
.s-myhivecircle img {
    margin-top: 6px;
    height: 20px;
    width: 20px;
}

.s-mesacircle {
    background-color: #DA5530;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
.s-mesacircle img {
    margin-top: 6px;
    height: 20px;
    width: 20px;
}

.s-chasecircle {
    background-color: #AFDFDD;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
.s-chasecircle img {
    margin-top: 6px;
    height: 20px;
    width: 20px;
}
.piece {
    font-size: 125%;
}
#bufferone {
 height: 40px;
}
#mobilesmall{
    display:none;
}
#smallbottom {
    display:none;
}
.fa-arrow-circle-up{
    cursor: pointer;
}
#home{
    cursor: pointer;
}

@media (max-width: 1200px){
    #desk {height: 350px;}
    #about {margin-top: 40px;}
    .about {width: 90%; margin: 0 auto;}
    .work {width: 85%; margin: 0 auto;}
    .circles{display:none;}
    #mobilesmall{display: inline;}
    #buffersix{display: none;}
    #smallbottom{display: inline;}
    .space{height: 50px;}
    .piece h3 {width: 75%; margin: 0 auto; padding-bottom: 10px;}
    #hivetext h3 {width: 65%; margin: 0 auto; padding-bottom: 10px;}
    .piece p {width: 75%; margin: 0 auto;}
}
